
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f8ff;
            color: #333;
        }
        header {
            background-color: #1e90ff;
            color: white;
            padding: 20px 0;
            text-align: center;
        }
        header h1 {
            margin: 0;
            font-size: 2.5em;
        }
        nav ul {
            list-style-type: none;
            padding: 0;
        }
        nav ul li {
            display: inline;
            margin: 0 15px;
        }
        nav ul li a {
            color: white;
            text-decoration: none;
            font-size: 1.2em;
        }
        section {
            padding: 20px;
            margin: 20px;
            border-radius: 10px;
            background-color: #e6f7ff;
        }
        section h2 {
            color: #1e90ff;
        }
        .projeto {
            background-color: #b0e0e6;
            padding: 10px;
            margin: 10px 0;
            border-radius: 5px;
        }
        footer {
            background-color: #1e90ff;
            color: white;
            text-align: center;
            padding: 20px 0;
            position: unset;
            width: 100%;
            bottom: 0;
        }
.ijj{
     background-color: whide;
            padding: 10px;
            margin: 10px 0;
            border-radius: 90%;

}